/*Goole Font Use*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap");
/*Goole Font Use*/
/*CSS Table Of Content Ends Here*/
/*Abstracts / mixins*/
/*Abstracts / mixins*/
/*Abstracts / variables*/
:root,
[data-bs-theme=light] {
  --medium-blue: #2A7CC7;
  --white: #fff;
  --border: #B3B3B3;
  --casebody: #D4CEFF;
  --bs-heading-color: #1E293B;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text: #0a58ca;
  --bs-secondary-text: #6c757d;
  --bs-success-text: #146c43;
  --bs-info-text: #087990;
  --bs-warning-text: #997404;
  --bs-danger-text: #b02a37;
  --bs-light-text: #6c757d;
  --bs-dark-text: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #f8f9fa;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #e9ecef;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg,
          rgba(255, 255, 255, 0.15),
          rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-body-bg: #e4e8fb;
  --bs-body-bg-rgb: 228, 232, 251;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(var(--bs-body-color-rgb), 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075);
  --bs-emphasis-color: #000;
  --bs-form-control-bg: var(--bs-body-bg);
  --bs-form-control-disabled-bg: var(--bs-secondary-bg);
  --bs-highlight-bg: #fff3cd;
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

[data-bs-theme=dark] {
  --bs-body-color: #adb5bd;
  --casebody: #D4CEFF10;
  --border: #ffffff30;
  --bs-body-color-rgb: 173, 181, 189;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #f8f9fa;
  --bs-emphasis-color-rgb: 248, 249, 250;
  --bs-secondary-color: rgba(173, 181, 189, 0.75);
  --bs-secondary-color-rgb: 173, 181, 189;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(173, 181, 189, 0.5);
  --bs-tertiary-color-rgb: 173, 181, 189;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-emphasis-color: #fff;
  --bs-primary-text: #6ea8fe;
  --bs-secondary-text: #dee2e6;
  --bs-success-text: #75b798;
  --bs-info-text: #6edff6;
  --bs-warning-text: #ffda6a;
  --bs-danger-text: #ea868f;
  --bs-light-text: #f8f9fa;
  --bs-dark-text: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #212529;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #495057;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #055160;
  --bs-warning-border-subtle: #664d03;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: #fff;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #9ec5fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 158, 197, 254;
  --bs-code-color: #e685b5;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
}

/*Abstracts / variables*/
/*Abstracts / typography*/
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: auto;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  line-height: 430px;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

h6 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0;
  font-weight: 400;
}

.pt-100 {
  padding-top: 100px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-60 {
  padding-bottom: 60px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--ratting-color);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--ratting-color);
  border-radius: 5px;
}

.text-base {
  color: #F8AF08 !important;
}

/*Abstracts / typography*/
/*Abstracts / footer*/
/*Abstracts / footer*/
/*Abstracts / header*/
.header__section {
  padding: 30px 0 30px;
}
@media (max-width: 991px) {
  .header__section {
    padding: 0px 0px 0px;
  }
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.header__wrap .logo h1 {
  color: var(--bs-heading-color, inherit);
}
@media (max-width: 991px) {
  .header__wrap .logo h1 {
    font-size: 42px;
  }
}
@media (max-width: 575px) {
  .header__wrap .logo h1 {
    font-size: 32px;
  }
}
@media (max-width: 500px) {
  .header__wrap .logo h1 {
    font-size: 24px;
  }
}
.header__wrap .cmn__grp {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 991px) {
  .header__wrap .cmn__grp {
    gap: 12px;
  }
  .header__wrap .cmn__grp .cmn--btn {
    padding: 7px 30px 8px;
    font-size: 17px;
  }
}
@media (max-width: 575px) {
  .header__wrap .cmn__grp {
    gap: 10px;
  }
  .header__wrap .cmn__grp .cmn--btn {
    padding: 5px 15px 6px;
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .header__wrap .cmn__grp {
    gap: 5px;
  }
  .header__wrap .cmn__grp .cmn--btn {
    padding: 4px 12px 5px;
    font-size: 14px;
  }
  .header__wrap .cmn__grp .border--btn {
    padding: 4px 8px 5px;
  }
}
.header__wrap .cmn__grp .mode--toggle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--medium-blue);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__wrap .cmn__grp .mode--toggle img {
  width: 20px;
  height: unset;
}
@media (max-width: 500px) {
  .header__wrap .cmn__grp .mode--toggle {
    width: 30px;
    height: 30px;
  }
  .header__wrap .cmn__grp .mode--toggle img {
    width: 14px;
  }
}

/*Abstracts / header*/
/*Abstracts / banner*/
.banner__section {
  padding: 80px 0 110px;
}
@media (max-width: 991px) {
  .banner__section {
    padding: 40px 0 80px;
  }
}
@media (max-width: 767px) {
  .banner__section {
    padding: 30px 0 80px;
  }
}

.banner__thumb {
  width: 100%;
}
.banner__thumb img {
  width: 100%;
}

@media (max-width: 991px) {
  .banner__content {
    margin-bottom: 35px;
  }
}
.banner__content h1 {
  margin-bottom: 60px;
  font-weight: 700;
}
@media (max-width: 1199px) {
  .banner__content h1 {
    font-size: 46px;
    line-height: 66px;
    margin-bottom: 35px;
  }
}
.banner__content .banner__list li {
  display: flex;
  align-items: center;
  gap: 14px;
}
.banner__content .banner__list li:not(:last-child) {
  margin-bottom: 19px;
}
.banner__content .banner__list li span {
  font-size: 18px;
  font-weight: 500;
  color: var(--inner-black);
}
@media (max-width: 500px) {
  .banner__content .banner__list li:not(:last-child) {
    margin-bottom: 15px;
  }
  .banner__content .banner__list li span {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .banner__content h1 {
    font-size: 38px;
    line-height: 52px;
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  .banner__content h1 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 20px;
  }
}

/*Abstracts / banner*/
/*Abstracts / section*/
.section__head {
  text-align: center;
  margin-bottom: 60px;
}
.section__head h2 {
  margin-bottom: 8px;
  color: var(--bs-heading-color, inherit);
  font-weight: 700;
}
.section__head p {
  color: var(--bs-heading-color, inherit);
  font-size: 20px;
}

.work__tabs__wrap {
  padding: 0 80px;
}
@media (max-width: 1399px) {
  .work__tabs__wrap {
    padding: 0 20px;
  }
}
.work__tabs__wrap .nav {
  display: grid;
}
.work__tabs__wrap .nav .nav-item .nav-link {
  padding: 30px 30px 30px;
  border-radius: 0;
  display: block;
  width: 100%;
}
@media (max-width: 767px) {
  .work__tabs__wrap .nav .nav-item .nav-link {
    padding: 20px 20px 20px;
  }
}
.work__tabs__wrap .nav .nav-item .nav-link h3 {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: left;
  margin-bottom: 20px;
}
.work__tabs__wrap .nav .nav-item .nav-link h3 span {
  color: var(--bs-heading-color, inherit);
}
@media (max-width: 767px) {
  .work__tabs__wrap .nav .nav-item .nav-link h3 {
    font-size: 18px;
    line-height: 24px;
  }
}
.work__tabs__wrap .nav .nav-item .nav-link .boxes {
  padding-left: 45px;
  display: none;
  text-align: left;
}
.work__tabs__wrap .nav .nav-item .nav-link .boxes p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .work__tabs__wrap .nav .nav-item .nav-link .boxes p {
    font-size: 16px;
    line-height: 24px;
  }
}
.work__tabs__wrap .nav .nav-item .nav-link .boxes p a {
  color: var(--white);
  text-decoration: underline;
}
.work__tabs__wrap .nav .nav-item .nav-link .boxes .carft__btn {
  display: flex;
  gap: 7px;
  align-items: center;
}
.work__tabs__wrap .nav .nav-item .nav-link .boxes .carft__btn span {
  color: var(--white);
}
.work__tabs__wrap .nav .nav-item .nav-link.active {
  background: RGB(0, 70, 161);
}
.work__tabs__wrap .nav .nav-item .nav-link.active h3 span {
  color: var(--white);
}
.work__tabs__wrap .nav .nav-item .nav-link.active .boxes {
  display: block;
}

.work__tab__content {
  background: var(--casebody);
  height: 100%;
}
.work__tab__content .tab-content .vide__box {
  padding: 20px 0;
  text-align: center;
}
@media (max-width: 991px) {
  .work__tab__content .tab-content .vide__box {
    padding: 0px 0 20px;
  }
}
.work__tab__content .tab-content .vide__box video {
  margin: 0 auto;
  max-width: 400px;
  height: 800px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 575px) {
  .work__tab__content .tab-content .vide__box video {
    width: 300px;
  }
}
@media (max-width: 575px) {
  .work__tab__content .tab-content .vide__box video {
    height: 600px;
  }
}

.footer__section {
  border-top: 1px solid var(--border);
}

.footer__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0 80px;
}
.footer__wrap .footer__logo {
  color: var(--bs-heading-color, inherit);
}
.footer__wrap .footer__link {
  display: flex;
  align-items: center;
  gap: 10px 24px;
}
.footer__wrap .footer__link li a {
  color: var(--bs-heading-color, inherit);
  font-weight: 500;
}
.footer__wrap .footer__social {
  display: flex;
  align-items: center;
  gap: 10px 12px;
}
.footer__wrap .footer__social li a i {
  font-size: 19px;
  color: var(--bs-heading-color, inherit);
}
@media (max-width: 991px) {
  .footer__wrap {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 60px 0 70px;
  }
  .footer__wrap .footer__logo {
    margin-bottom: 10px;
  }
  .footer__wrap .footer__link {
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .footer__wrap .footer__social {
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .footer__wrap {
    padding: 35px 0 55px;
  }
}

[data-bs-theme=light] .footer__social a img {
  filter: brightness(0);
  -webkit-filter: brightness(0);
  -moz-filter: brightness(0);
}

/*Abstracts / section*/
/*Abstracts / componets*/
/*--Button Area Start--*/
/*--Button Area Start--*/
.cmn--btn {
  padding: 11px 40px 14px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  color: var(--white);
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  transition: all 0.3s;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: var(--medium-blue);
}
.cmn--btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: var(--medium-blue);
  height: 100%;
  width: 0px;
  transition: all 0.4s;
}
.cmn--btn:hover::before {
  width: 100%;
}
.cmn--btn:hover span {
  color: var(--white);
}
.cmn--btn span {
  z-index: 1;
  position: relative;
  transition: all 0.4s;
}

.border--btn {
  border: 1px solid var(--medium-blue);
  color: var(--medium-blue);
  background: unset;
}

/*--Button Area End--*/
/*--Button Area End--*/
/*Abstracts / componets*/
/*CSS Table Of Content Ends End*//*# sourceMappingURL=main.css.map */